/*--------------------------------------------walk one - landmarks*/

.container-image-walk1 {
    height: 40vh;
    width: 100vw;
    background: url('../visual/images/st patricks cathedral_walk 2 architecture.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    justify-content: center;
}

div #map {
    min-height: 360px;}