/*--------------------------------------------All walks*/

.btn-booking {
    margin-top: 30px;
    background-color: #f8b600;
    color: #000000;
    border-radius: 10px;
    border: 0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.btn-booking:hover {
    background-color: #f7a400;
    color: #000000;
}

.btn-booking:click {
    background-color: #f7a400;
    color: #000;
}

div #map {
    min-height: 360px;
    }

div #map2 {
    min-height: 360px;
    }

/*--------------------------------------------booking page*/

.container-image-walk1 {
    height: 40vh;
    width: 100vw;
    background: url('../visual/images/st patricks cathedral_walk 2 architecture.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    justify-content: center;
}

.card-inner-booking {
   color: #ffffff;
   padding: 10px;
   margin:20px;
}